<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ZEROSNAP SMART CHECK-IN</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/fonts.css">
    <link rel="stylesheet" href="../../assets/font-awesome/css/font-awesome.min.css">

    <!-- PAGE LEVEL PLUGINS STYLES -->
    <!-- REQUIRE FOR SPEECH COMMANDS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/plugins/gritter/jquery.gritter.css" />

    <!-- Tc core CSS -->
    <link id="qstyle" rel="stylesheet" href="../../assets/css/themes/style.css">
    <script src="../../Scripts/jquery-3.3.1.min.js"></script>

  
    <style>
        .hide {
            display: none;
        }
    </style>

</head>

<body class="login">
    <div id="wrapper">
        @RenderBody()
    </div>

    <!-- core JavaScript -->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../../assets/js/plugins/pace/pace.min.js"></script>

    <!-- PAGE LEVEL PLUGINS JS -->
    <!-- Themes Core Scripts -->
    <script src="../../assets/js/main.js"></script>

    <!-- REQUIRE FOR SPEECH COMMANDS -->
    <script src="../../assets/js/speech-commands.js"></script>
    <script src="../../assets/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- initial page level scripts for examples -->
    <script type="text/javascript">
        function show_box(id) {
            jQuery('.login-box.visible').removeClass('visible');
            jQuery('#' + id).addClass('visible');
        }
    </script>
    <div id="loader" style="display:none;width:69px;height:89px;position:fixed;top:40%;left:50%;padding:2px;"><img src='~/images/loader.gif' width="64" height="64" />
    <br>Loading..</div>
</body>
</html>