@model ZS_SmartCheckIn.Models.Entity.ResetPasswordModel
@{
    ViewBag.Title = "ResetCustPassword";
    Layout = "~/Views/Shared/_GuestLoginLayout.cshtml";
}


<style>
    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }

    .container {
        padding-top: 50px;
        margin: auto;
    }
</style>
<!-- BEGIN MAIN PAGE CONTENT -->
<script src="../../Scripts/ajax/login.js"></script>
<div class="login-container">
    <h2>
        <a href="Login"><img src="../../assets/images/logo.png" alt="logo" class="img-responsive"></a><!-- can use your logo-->
    </h2>
    <!-- BEGIN LOGIN BOX -->
    <div id="login-box" class="login-box visible">
        <p class="bigger-110">
            <i class="fa fa-key"></i> GUEST LOGIN
        </p>

        <div class="hr hr-8 hr-double dotted"></div>
        <form method="post" action="/User/GuestLogin">
            <input type="hidden" name="token" id="token" value="@Model.Token" />
            <div class="form-group">
                <div class="input-icon right">
                    <span class="fa fa-lock text-gray"></span>
                    <input type="password" class="form-control" id="password" placeholder="your password">
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon right">
                    <span class="fa fa-repeat text-gray"></span>
                    <input type="password" class="form-control" id="conpassword" placeholder="confirm password">
                </div>
            </div>
            <p><a href="#" class="btn btn-success" id="btnResetCustPasword">Submit<i class="fa fa-angle-double-right icon-on-right"></i></a></p>

        </form>
    </div>
    <!-- END LOGIN BOX -->
</div>

<!-- Modal For Terms and Conditions -->